[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
request = "*"
flask = "*"
gunicorn = "*"
leancloud = "*"

[requires]
python_version = "3.8"
